<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <script src="https://kit.fontawesome.com/535c09f339.js" crossorigin="anonymous"></script>
    <link  rel="stylesheet" href="/css/normalize.css">
    <link  rel="stylesheet" href="/css/styles.css">

    <title>Document</title>
</head>

<body>
    <header class = "main-header">
        <div class = "main-header-top"> 
            
            <img class= "logo" src="./img/logo-mercado-liebre.svg" alt="No encontre Imagen" >
            
            <div class="box">
                <input type="text" name="search" placeholder="Buscar productos, marcas">
                <i class="fas fa-search"></i>
            </div>

            <h2 class= "copy-header"> 
                <i class="fas fa-hand-holding-usd"></i> 
                Comprá en cuotas y sin tarjeta de crédito
            </h2> 
        </div>
        <div class="burger-menu">
            <i class= "fas fa-bars"></i>
        </div>
        <nav class="main-navbar">
            <ul class= "left-navbar">
                <li> <a href="#"> Ofertas </a>  </li>
                <li> <a href="#">Tiendas Oficiales </a> </li>
                <li> <a href="#"> Vender </a></li>
                <li> <a href="#">Ayuda </a></li>
            </ul>
            <ul class= "rifht-navbar">
                <li> <a href="/register">Creá tu cuenta</a> <i class="far fa-address-card"></i></li>
                <li> <a href="/login">ingresa</a><i class="fas fa-sign-in-alt"></i></li>
                <li> <a href="#">Mis Compras</a><i class="fas fa-shopping-basket"></i> </li>
            </ul> 
        </nav>

       
    </header>
    <main>
        <section class = "banner-section">
            <img class = "banner" src="./img/img-home-banner.jpg" alt="Cafetera Moulinex" >
        </section>
        <section class="section-article"> 
            <h2>
                Basado en tu última visita
            </h2>
            <article class= "products-article">
                <article> 
                    <img class= "cafetera" src="./img/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" >
                    <div class= "conteiner-datos"> 
                        <i class="fas fa-truck"></i>
                        <div class="conteiner-precios"> 
                            <p class ="precios">$6.770</p>
                            <p class= "descuentos">40% OFF</p>
                        </div>    
                        <p class ="descripciones">Cafetera Moulinex</p>
                    </div>    
                </article>
                <article> 
                    <img class= "Macbook"src="./img/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019" >
                    <div class= "conteiner-datos"> 
                        <i class="fas fa-truck"></i>
                        <div class="conteiner-precios"> 
                            <p class ="precios">$230.000</p>
                            <p class= "descuentos">20% off</p>
                        </div>
                        <p class ="descripciones">MacBook Pro 2019</p>
                    </div>
                </article>
                <article> 
                    <img class= "celular"src="./img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" >
                    <div class= "conteiner-datos">  
                        <i class="fas fa-truck"></i>
                        <div class="conteiner-precios"> 
                            <p class ="precios">$70.500</p>
                            <p class= "descuentos" >10% off</p>
                        </div>    
                        <p class ="descripciones">Samsung Galaxy S10</p>
                    </div>
                </article>
                <article> 
                    <img class= "tv"src="./img/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43n" >
                    <div class= "conteiner-datos"> 
                         <i class="fas fa-truck"></i>
                        <div class="conteiner-precios"> 
                            <p class ="precios">$23.200</p>
                            <p class= "descuentos" >5% off</p>
                        </div>    
                        <p class ="descripciones">SmartTv Samsung 43</p>
                    </div>
                </article>
            </article>    
        </section>
        <section class="section-article" > 
            <h2>
                Ofertas
            </h2>
            <article class= "products-article">
                <article> 
                    <img class= "cafetera" src="./img/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" >
                    <div class= "conteiner-datos">
                        <i class="fas fa-truck"></i>
                        <div class="conteiner-precios">
                            <p class ="precios">$6.770</p>
                            <p class= "descuentos">40% OFF</p>
                        </div> 
                        <p class ="descripciones">Cafetera Moulinex</p>
                    </div>    
                </article>
                <article> 
                    <img class= "Macbook"src="./img/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019" >
                    <div class= "conteiner-datos"> 
                        <i class="fas fa-truck"></i>
                        <div class="conteiner-precios"> 
                            <p class ="precios">$230.000</p>
                            <p class= "descuentos">20% off</p>
                        </div>    
                        <p class ="descripciones">MacBook Pro 2019</p>
                    </div>
                </article>
                <article> 
                    <img class= "celular"src="./img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" >
                    <div class= "conteiner-datos">  
                        <i class="fas fa-truck"></i>
                        <div class="conteiner-precios"> 
                            <p class ="precios">$70.500</p>
                            <p class= "descuentos" >10% off</p>
                        </div>      
                        <p class ="descripciones">Samsung Galaxy S10</p>
                    </div>
                </article>
                <article> 
                    <img class= "tv"src="./img/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43n" >
                    <div class= "conteiner-datos">  
                        <i class="fas fa-truck"></i>
                        <div class="conteiner-precios"> 
                            <p class ="precios">$23.200</p>
                            <p class= "descuentos" >5% off</p>
                        </div>    
                        <p class ="descripciones">SmartTv Samsung 43</p>
                    </div>
                </article>
            </article>    
        </section>
    </main>

    <footer>
        <div class="footer-conteiner"> 
            <div class="fototer-article">
                <i class="fas fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="fototer-article">
                <i class="fas fa-gift"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class="fototer-article">
                <i class="fas fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </div>
        </div>    
        <div class="copyright">
            <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
        </div>
    </footer>
</body>

</html>