<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <script src="https://kit.fontawesome.com/535c09f339.js" crossorigin="anonymous"></script>
    <link  rel="stylesheet" href="/css/normalize.css">
    <link  rel="stylesheet" href="/css/styles.css">

    <title>Document</title>
</head>

<body>
    <header class = "main-header">
        <div class = "main-header-top"> 
            
            <img class= "logo" src="./img/logo-mercado-liebre.svg" alt="No encontre Imagen" >
            
            <div class="box">
                <input type="text" name="search" placeholder="Buscar productos, marcas">
                <i class="fas fa-search"></i>
            </div>

            <h2 class= "copy-header"> 
                <i class="fas fa-hand-holding-usd"></i> 
                Comprá en cuotas y sin tarjeta de crédito
            </h2> 
        </div>
        <div class="burger-menu">
            <i class= "fas fa-bars"></i>
        </div>
        <nav class="main-navbar">
            <ul class= "left-navbar">
                <li> <a href="#"> Ofertas </a>  </li>
                <li> <a href="#">Tiendas Oficiales </a> </li>
                <li> <a href="#"> Vender </a></li>
                <li> <a href="#">Ayuda </a></li>
            </ul>
            <ul class= "rifht-navbar">
                <li> <a href="/register">Creá tu cuenta</a> <i class="far fa-address-card"></i></li>
                <li> <a href="/login">ingresa</a><i class="fas fa-sign-in-alt"></i></li>
                <li> <a href="#">Mis Compras</a><i class="fas fa-shopping-basket"></i> </li>
            </ul> 
        </nav>

       
    </header>
    <main>
        <form action="#" method="get" class="registro-form">
            <div class= "control-form">
                <input type="text" placeholder="Nombre y apellido" name="NombreApellido" class= "contol">
            </div>

            <div class= "control-form">
                <input type="text" placeholder="Nombre Usuario" name="Nombredeusuario" class= "contol">
            </div>

            <div class= "control-form">
                <input type="email" placeholder="E-mail" name="email" class= "contol">
            </div>

            <div class= "control-form">
                <label class="labelform">Fecha Nacimiento</label>
                <input type="date" name='fecha' placeholder="Fecha Nacimiento" class= "contol">
            </div>

            <div class= "control-form">
                <input type="text" placeholder="Domicilio" name="domicilio" class= "contol">
            </div>

            <div class= "control-form">
                <label class="labelform">Perfil Usuario</label>
                <div class= "perfil-usuario"> 
                    <label for="">
                        Comprador<input type="radio" value="compra" name="rb-testoperation">
                    </label>
                    <label for="">
                        Vendedor<input type="radio" value='venta' name="rb-testoperation">
                    </label>
                </div>    
            </div>

            <div class= "control-form">
                <label class="labelform">Interes</label>
                <label for="Electro">Electro <input type="checkbox" value="Electro" /></label>
                <label for="Moda">Moda <input type="checkbox" value="Moda" /></label>
                <label for="Hogar">Hogar <input type="checkbox" value="Hogar" /></label>
                <label for="Juguetería">Juguetería <input type="checkbox" value="Juguetería" /></label>
                <label for="Vida sana">Vida sana <input type="checkbox" value="Vidasana" /></label>              
            </div>

            <div class= "control-form">
                <label for="img">Suba su imagen</label>
                <input type="file" name="img" class="subbir-archivo">
            </div>

            <div class= "control-form">
                <input type="password" placeholder="Contraseña" name="pass" class= "contol">
            </div>

            
            <div class= "control-form">
                <input type="password" placeholder="Confirmar Contraseña" name="pass" class= "contol">
            </div>

            <div class= "control-form">
                <input type="submit" value="Enviar" name="enviar" class="button-submit">
                <input type="reset" value="Limpiar" name="limpiar" class="button-reset">
            </div>               
        </form>
    </main>
    <footer>
        <div class="footer-conteiner"> 
            <div class="fototer-article">
                <i class="fas fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="fototer-article">
                <i class="fas fa-gift"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class="fototer-article">
                <i class="fas fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </div>
        </div>    
        <div class="copyright">
            <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
        </div>
    </footer>
</body>

</html>